body {
    background-color: rgba(107, 138, 122);
}

#bodyhome-container {
    text-align: center;
}

#bodyhome-title img {
    margin-top: 150px;
    width: 100px;
    height: auto;
}

#bodyhome-title-text {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

#bodyhome-description-text {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.navbar-button {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.navbar-button div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-button img {
    width: 50px;
    height: auto;
    margin-bottom: 5px;
}
