/* Reset body margin and padding to remove default white borders */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container-fluid {
    padding: 0; /* Remove default padding from Bootstrap container */
}

.row {
    margin: 0; /* Remove default margin from Bootstrap row */
}

.left-section {
    background-color: #ccff00; /* Light green */
    color: black;
    height: 100vh;
    text-align: center;
}

.right-section {
    background-color: #00cc00; /* Green */
    height: 100vh;
}

.btn {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 20px;
}